.board {
  width: 500px;
  margin: auto
}

h1 {
  margin: auto;
  width: 400px;
}

.controls {
  margin: auto;
  width: 400px;
}

.settings .setting {
  margin-left: 10px;
  float: left;
  
}

.settings {
  margin: auto;
  width: 500px;
}

/* .info {
  width: 400px;
  margin: auto;
}

.move-history {
  max-height: 100px;
  overflow-y: scroll;
} */