.board {
  width: 400px;
  margin: auto
}

h1 {
  margin: auto;
  width: 400px;
}

.controls {
  margin: auto;
  width: 400px;
}

/* .info {
  width: 400px;
  margin: auto;
}

.move-history {
  max-height: 100px;
  overflow-y: scroll;
} */